@model Calculadora.Models.ModelCalculadora

@{
    ViewData["Title"] = "Home Page";
}

<div class="m-auto col-6">

    <form asp-action="Index" asp-controller="Home" method="post">


        <div class="row g-3 m-auto">
            <div class="col-auto m-auto">
                <label asp-for="Valor1" class="form-label"></label>
                <input type="number" min="0" required class="form-control" value="0" asp-for="Valor1">
                <span asp-validation-for="Valor1" class="text-danger"></span>
            </div>
            <div class="col-auto m-auto" id="valor2">
                <label asp-for="Valor2" class="form-label"></label>
                <input type="number" required min="0" class="form-control" value="0" asp-for="Valor2">
                <span asp-validation-for="Valor2" class="text-danger"></span>
            </div>
            <div class="col-6 m-auto">
                <br />
                <label asp-for="Operacion"></label>
                <br />
                <select class="form-select" asp-for="Operacion">
                    <option value="+">+</option>
                    <option value="-">-</option>
                    <option value="*">*</option>
                    <option value="/">/</option>
                    <option value="!" id="!">!</option>
                </select>
                <br />
            </div>
            <br />
            <br />
            <div class="col-12 m-auto bg-success text-white text-center">

                @Html.DisplayNameFor(model => model.Resultado)
                <br />
                <strong>
                    @Html.DisplayTextFor(model => model.Resultado)
                </strong>
            </div>
            <div class="col-12 m-auto text-center">
                <br />
                <button class="btn btn-success m-auto">Enviar</button>
            </div>
        </div>
    </form>
</div>
